<br/>
 <table class="tabelas" align="center" width="100%">
   <tr>
     <td colspan="2" align="left">
      <font  size=5><b> CONSULTA UNIDADES POR ENDEREÇO</b></font>
     </td>
   </tr>
   <tr>
     <td>
       <br/>
       <div class="botao">
       <table width="100%" align="center">
        <tr>
          <td align="left" width="4%"><%= link_to image_tag("/stylesheets/images/voltar.png", :size => "40x40"),  homes_path, {:method => "get"}, :title => "Voltar"%></td>
          <td align="left" ><%= link_to image_tag("/stylesheets/images/imprimir.png", :size => "30x30"), onclick="javascript:window.print()", :title => "Imprimir" %></td>
          <td align="right">
             <table>
            <tr>
            <% form_tag c_uni_end_path, :method => 'get' do %>
            <td align="right"><font size="4"> Digite endereço:</font>
              <%= text_field_tag :searche, params[:searche] %>
               <td align="left"><input type="image" src="/stylesheets/images/buscar.png" title="Buscar">
               </td>
            <% end %>
            </tr>
         </table>
         </td>
       </tr>
       <tr>
          <% if  $var == 0 then %>
             <td align="left" colspan="3"><%= will_paginate @unidades%></td>
          <%end%>
      </table>
      <br/>
      </div>
      <font  size="2">
      <table border="2" width="100%">
       <% for unidades in @unidades %>
        <tr>
          <th>Nome</th>
          <th>Ensino</th>
          <th>Endereco</th>
          <th>Num</th>
          <th>Bairro</th>
          <th>Fone</th>
        </tr>
        <tr>
          <td><%=h unidades.nome %></td>
          <td><%=h unidades.tipo.nome %></td>
          <td><%=h unidades.endereco %></td>
          <td><%=h unidades.num %></td>
          <td><%=h unidades.bairro %></td>
          <td><%=h unidades.fone %></td>
       </tr>
       <tr>
          <%if (unidades.estagiarioE == 1) then%>
            <td rowspan="2"></td>
            <th>Itinerância</th>
         <%else%>
            <td rowspan="2"></td>
            <th></th>
         <%end%>
          <th>Email</th>
          <th>Diretor</th>
          <th>Coordenador</th>
          <th>Estagiário</th>
      </tr>
      <tr>
        <%if (unidades.estagiarioE == 1) then%>
            <% if unidades.regiao_id.nil? then %>
              <td></td>
           <%else%>
             <td><%=h unidades.regiao.regiao %></td>
            <%end%>
         <%else%>
            <td></td>
         <%end%>
         <td><%=h unidades.email %></td>
         <td><%=h unidades.diretor %></td>
         <td><%=h unidades.coordenador %></td>
         <td>
         <%if (unidades.estagiarioE == 1) then%>
          <% unidades.regiao.estagiarios.each do |est| %>
             <% if (est.desligado == 0 and est.periodo_trab == 'ITINERANTE') then%>
               <%=h est.nome %> (Itinerante)<br/>
            <%end%>
          <%end%>
       <%else%>
       <%if (unidades.estagiarioM == 1) then%>
         <% unidades.estagiarios.each do |est| %>
             <% if (est.desligado == 0 and est.periodo_trab == 'MATUTINO') then%>
               <%=h est.nome %> (mantutino)<br/>
            <%end%>
          <%end%>
         <%else%>
               Unidade sem estagiário Matutino <br/>
         <%end%>
        <%if (unidades.estagiarioV == 1) then%>
         <% unidades.estagiarios.each do |est| %>
             <% if (est.desligado == 0 and est.periodo_trab == 'VESPERTINO') then%>
               <%=h est.nome %> (vespertino) <br/>
            <%end%>
          <%end%>
         <%else%>
               Unidade sem estagiário Vespertino <br/>
         <%end%>
        <%if (unidades.estagiarioN == 1) then%>
         <% unidades.estagiarios.each do |est| %>
             <% if (est.desligado == 0 and est.periodo_trab == 'NOTURNO') then%>
               <%=h est.nome %> (noturno) <br/>
            <%end%>
          <%end%>
         <%else%>
               Unidade sem estagiário Noturno <br/>
         <%end%>
    <%end%>
        </td>
      </tr>
     <tr>
        <td colspan="12">
            <div class="botao">
            <table >
               <td align="center" colspan="1"><%= link_to image_tag("/stylesheets/images/exibir.gif", :size => "25x25"), unidades, :title => "Exibir Unidade" %></td>
               <td align="center" colspan="1"> <%= link_to image_tag("/stylesheets/images/anexos.png", :size => "25x25"), anexos_path(:unidade => unidades), :title => "Anexos referentes à Unidade" %></td>
                 <% if current_user.has_role?('administrador') or current_user.has_role?('estagiario SEDUC') %>
                  <td align="center" colspan="1"><%= link_to image_tag("/stylesheets/images/edit.png", :size => "25x25"), edit_unidade_path(unidades), :title => "Alterar Unidade"%></td>
                     <% if current_user.has_role?('administrador')%>
                       <td align="center" colspan="1"><%= link_to image_tag("/stylesheets/images/excluir.PNG", :size => "25x25"), unidades, :confirm => 'Confirma Exclusao?', :method => :delete, :title => "Excluir Unidade" %></td>
                     <%end%>
               <%end%>
             <td align="left" colspan="1"><%= link_to image_tag("/stylesheets/images/Mapa.png", :size => "25x25"), geo_path(unidades.id), :title => "Mapa" %></td>
            </table>
            </div>
        </td>
      </tr>
      <% end %>
     </table>
      <div class="botao">
       <table width="100%" align="center">
        <tr>
        <td align="left" width="4%"><%= link_to image_tag("/stylesheets/images/voltar.png", :size => "40x40"),  homes_path, {:method => "get"}, :title => "Voltar"%></td>
          <td align="left" ><%= link_to image_tag("/stylesheets/images/imprimir.png", :size => "30x30"), onclick="javascript:window.print()", :title => "Imprimir" %></td>
          <% if  $var == 0 then %>
             <td align="right" colspan="3"><%= will_paginate @unidades %></td>
          <%end%>
      </table>
      </div>
     </font>
  </table>

  <br/>



