<br/>
<font size="2">
<table  class="tabelas" width="40%"align="center">
 <tr>
   <td colspan="2" align="left">
    <font  size=5 color="black"> <b> EMPRESTIMO DATASHOW</b></font>
   </td>
 </tr>
 <tr>
  <td>
    <fieldset><legend><font  size=4> Dados Emprestimo </font></legend>
      <table width="100%">
        <tr>
          <td width="36%"align="left"><font size=2><b>Unidade:</b></font></td>
          <td align="left"><font size=2><%=h @emprestimo.unidade.nome %></font></td>
       </tr>
       <%if @emprestimo.unidade_id == 53 then%>
         <tr>
            <td align="left"><font size=2><b>Departamento:</b></font></td>
            <td align="left"><font size=2><%=h @emprestimo.departamento.depto %></font></td>
         </tr>
       <%end%>
        <tr>
           <td align="left"><font size=2><b>Data Emprestimo:</b></font></td>
           <td align="left"><font size=2><%=h @emprestimo.emprestimo.strftime("%d/%m/%Y") %></font></td>
       </tr>
       <tr>
           <td align="left"><font size=2><b>Data Devolução:</b></font></td>
           <td align="left"><font size=2><%=h @emprestimo.devolucao.strftime("%d/%m/%Y") %></font></td>
      </tr>
      <tr>
          <td align="left"><font size=2><b>Responsável:</b></font></td>
          <td align="left"><font size=2><%=h @emprestimo.responsavel %></font></td>
      </tr>
      <tr>
         <td align="left"><font size=2><b>Observações:</b></font></td>
         <td align="left"><font size=2><%=h @emprestimo.obs %></font></td>
      </tr>
     </table>
    </fieldset>
    <table>
        <tr>
           <td align="left" width="8%"><%= button_to 'Voltar', homes_path, {:method => "get"} %></td>
          <% if current_user.has_role?('administrador') %>
              <td align="left" width="8%"> <%= button_to('Editar', {:action => "edit", :id => @emprestimo}, :method => "get") %></td>
              <td align="left" width="8%"><%= button_to('Excluir',{:action => "destroy", :id =>@emprestimo}, :confirm => 'Confirma exclusão?', :method => "delete")%></td>
          <%end%>
          <td align="left" width="8%"><input type="Button" Value="Imprimir" onclick="javascript:window.print()"></td>
          <td align="left" ><%= button_to 'Agenda', emprestimos_path, {:method => "get"} %></td>
       </tr>
   </table>
  </td>
 </tr>
</table>
</font>
<br/>
