<br/>
<table>
  <tr>
    <td width="4%"align="left" ><%= link_to image_tag("/stylesheets/images/voltar.png", :size => "40x40"),  homes_path, {:method => "get"}, :title => "Voltar"%></td>
    <td width="4%"align="left" ><%= link_to image_tag("/stylesheets/images/imprimir.png", :size => "30x30"), onclick="javascript:window.print()", :title => "Imprimir" %></td>
    <td width="29%"><%= link_to image_tag("/stylesheets/images/cadastrar.gif", :size => "40x40"), new_emprestimo_path,  :title => "Agendar" %></td>
    <td align="left"><font size="2"><b>
        > A SEDUC POSSUI SOMENTE DOIS DATASHOWS PARA EMPRESTIMOS <br/>
        > VERIFIQUE O CALENDÁRIO ABAIXO SE NO DIA DESEJADO ESTÁ DISPONÍVEL</font></b>
   </td>
  </tr>
</table>
  
<% if @emprestimos.present? %>
  <div id="calendar">
    <h2 id="month">
      <%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m-%d"), :search => params[:search] %>
      <%=h @date.strftime("%B %Y") %>
      <%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m-%d"), :search => params[:search] %>
    </h2>
    <% calendar_for @emprestimos, :year => @date.year, :month => @date.month, :search => params[:search] do |calendar| %>
      <%= calendar.head('Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sabado') %>
      <% calendar.day(:day_method => :emprestimo) do |date, articles| %>
        <%= date.day %>
        <ul>
          <% for data in articles %>
            <li><%= link_to h(data.unidade.nome), data%>
                <%if data.unidade_id == 53 then%>
                - <%= data.departamento.depto   %>
                <% end %>
            </li>

          <% end %>
        </ul>
      <% end %>
    <% end %>
  </div>
<%end%>
<br/>
<table>
  <tr>
    <td width="4%"align="left" ><%= link_to image_tag("/stylesheets/images/voltar.png", :size => "40x40"),  homes_path, {:method => "get"}, :title => "Voltar"%></td>
    <td width="4%"align="left" ><%= link_to image_tag("/stylesheets/images/imprimir.png", :size => "30x30"), onclick="javascript:window.print()", :title => "Imprimir" %></td>
    <td width="4%"><%= link_to image_tag("/stylesheets/images/cadastrar.gif", :size => "40x40"), new_emprestimo_path,  :title => "Agendar" %></td>
    <td align="right"><font size="1" color="BLUE">
       OBS: Para alterar qualquer agendamento já realizado favor entrar em contato com a Informática SEDUC</font>
   </td>
  </tr>
</table>
