<p>
  <b>Unidade:</b>
  <%=h @protocolo.unidade %>
</p>

<p>
  <b>Problema:</b>
  <%=h @protocolo.problema %>
</p>

<p>
  <b>Solicitante:</b>
  <%=h @protocolo.solicitante %>
</p>

<p>
  <b>Data sol:</b>
  <%=h @protocolo.data_sol %>
</p>

<p>
  <b>Solicitado:</b>
  <%=h @protocolo.solicitado %>
</p>

<p>
  <b>Atendente:</b>
  <%=h @protocolo.atendente %>
</p>

<p>
  <b>Solicitacao:</b>
  <%=h @protocolo.solicitacao %>
</p>

<p>
  <b>Protocolo:</b>
  <%=h @protocolo.protocolo %>
</p>

<p>
  <b>Obs:</b>
  <%=h @protocolo.obs %>
</p>


<%= link_to 'Edit', edit_protocolo_path(@protocolo) %> |
<%= link_to 'Back', protocolos_path %>