<!--    <%= javascript_include_tag "jquery.colorbox","application.js"%>
    <p><a class='inline' href="#inline_content">Alunos</a></p>
    

















         
	<div style='display:none'>
		<div id='inline_content' style='padding:10px; background:#fff;'>
                <table width="100%">
                  <h2><%= current_user.unidade.nome %></h2>
                  <hr>

                  <% form_remote_for :classe, :method => :get,:loading => "$('#status').show()" , :success => "$('#status').hide()",
                    :url => {:controller => :chats,
                    :action => :classe } do |form| %>
                  <%= collection_select :classe, :id_classe, @classes, :id_classe, :classe_descricao, :include_blank => ' -- Selecione -- '  %>
                  <%= select :classe, :ano_letivo, Aluno::D %>
                  <%= submit_tag "Filtrar", :name => nil %>
                  <% end %>
                </table>
                <hr/>
                <br/>
                <div id="classe">
                </div>
        </div>
	</div>
    !-->
