
 <table  align="center" width="100%">
  <td>
  <fieldset><legend><font  size=5> Cadastrados</font></legend>
   <br/>
   <div class="botao">
   <br/>
   </div>
    <font  size="2">
    <table border="2" width="100%">
      <%$datashow = 0%>
     <% for datashow in @datashows %>
      <tr>
        <th>Unidade</th>
        <th>Quantidade</th>
        <th>Configuração</th>
        <th>Pertence</th>
     </tr>
      <tr>
       <td><%=h datashow.unidade.nome %></td>
       <td><%=h datashow.quant %></td>
       <td><%=h datashow.config %></td>
       <td><%=h datashow.pertence %></td>
     </tr>
       <%$datashow = $datashow + datashow.quant%>
    <tr>
      <td colspan="7">
        <div class="botao">
        <table>
           <td align="center" colspan="1"><%= link_to image_tag("/stylesheets/images/exibir.gif", :size => "25x25"), datashow, :title => "Exibir Dados" %></td>
            <% if current_user.has_role?('administrador') or current_user.has_role?('estagiario SEDUC') %>
               <td align="center" colspan="1"><%= link_to image_tag("/stylesheets/images/edit.png", :size => "25x25"), edit_datashow_path(datashow), :title => "Alterar Dados"%></td>
              <% if current_user.has_role?('administrador')%>
                <td align="center" colspan="1"><%= link_to image_tag("/stylesheets/images/excluir.PNG", :size => "25x25"), datashow, :confirm => 'Confirma Exclusao?', :method => :delete, :title => "Excluir" %></td>
               <%end%>
            <%end%>
        </table>
        </div>
       </td>
    </tr>
    <% end %>
    <tr>
       <td align="left"colspan="7"><font color="black">Total de Datashow  => <%=  $datashow%></font></td>
    </tr>
   </table>
   </font>
  </fieldset>
  </table>

