<br/>
<font size="2">
<table  class="tabelas" width="30%"align="center">
 <tr>
    <td colspan="2" align="left">
         <font  size=5 color="black"> <b> DIAS ÚTEIS</b></font>
    </td>
  </tr>
  <tr>
    <td>
      <fieldset><legend><font  size=4>Dados</font></legend>
      <table width="100%">
        <tr>
          <td align="left"><font  size=2><b>Mes:</b></font></td>
          <td align="left"><%=h @mes_base.data.strftime("%B de %Y") %></td>
        </tr>
        <tr>
          <td align="left"><font  size=2><b>Qtde dias:</b></font></td>
          <td align="left"><%=h @mes_base.qtde_dias %></td>
        </tr>
        </table>
        </fieldset>
      <div class="botao">
       <table>
        <tr>
          <td align="left" width="4%"><%= link_to image_tag("/stylesheets/images/voltar.png", :size => "40x40"),  homes_path, {:method => "get"}, :title => "Voltar"%></td>
          <% if current_user.has_role?('administrador') or current_user.has_role?('estagiario SEDUC') %>
              <td align="left" width="4%" ><%= link_to image_tag("/stylesheets/images/edit.png", :size => "25x25"),{:action => "edit", :id => @mes_base}, :method => "get", :title => "Alterar Dados"%></td>
          <%end%>
          <td align="left" ><%= link_to image_tag("/stylesheets/images/imprimir.png", :size => "30x30"), onclick="javascript:window.print()", :title => "Imprimir" %></td>
        </tr>
      </table>
      </div>
 </table>
</font>
<br/>

