<font  size="2">
    <table border="2" width="100%">
     <% for estagiarios in @estagiarios %>
     <%if (estagiarios.flag == 0 and estagiarios.desligado == 0) then %>

     <tr>
       <th>Nome</th>
       <th>RG</th>
       <th>CPF</th>
       <th colspan="2">Endereco</th>
       <th>Num</th>
       <th>Complemento</th>
     </tr>
     <tr>
       <td align="center"><%=h estagiarios.nome %></td>
       <td align="center"><%=h estagiarios.RG %></td>
       <td align="center"><%=h estagiarios.CPF %></td>
       <td  align="center"colspan="2"><%=h estagiarios.endereco %></td>
       <td align="center"><%=h estagiarios.num %></td>
       <td align="center"><%=h estagiarios.complemento %></td>
    </tr>
    <tr>
       <th>Foto</th>
       <th>Bairro</th>
       <th>Cidade</th>
       <th>Fone</th>
       <th>Cel</th>
       <th>Data Nasc</th>
       <th>Email</th>
    </tr>
    <tr>
       <td rowspan="4" valign="top">
         <%= image_tag estagiarios.photo.url(:thumb) %>
       </td>
       <td align="center"><%=h estagiarios.bairro %></td>
       <td align="center"><%=h estagiarios.cidade %></td>
       <td align="center"><%=h estagiarios.fone %></td>
       <td align="center"><%=h estagiarios.cel %></td>
       <td align="center"><%=h estagiarios.data_nasc.strftime("%d/%m/%Y") %></td>
       <td align="center"><%=h estagiarios.email %></td>
    </tr>
    <% if current_user.has_role?('administrador')%>
    <tr>
        <th>Matricula</th>
        <th>Período</th>
        <th>Ingresso</th>
        <th>Termino</th>
        <th colspan="2">Faculdade</th>
     <tr/>
     <tr>
       <td align="center"><%=h estagiarios.matricula %></td>
       <td align="center"><%=h estagiarios.periodo_est %></td>
       <td align="center"><%=h estagiarios.data_ingresso.strftime("%d/%m/%Y") %></td>
       <td align="center"><%=h estagiarios.data_termino.strftime("%d/%m/%Y") %></td>
       <td  align="center"colspan="2"><%=h estagiarios.faculdade %></td>
    </tr>
    <tr>
        <th>Contrato </th>
        <th>Id </th>
        <th>Período</th>
        <th>Analista</th>
        <th>Admissao</th>
        <th>Desligamento</th>
        <th>Locacao</th>
    </tr>
     <tr>
         <%if (((estagiarios.data_admissao.to_time)+ 20.months) < Date.today)%>
           <td><font color="red" size="2"><b>CONTRATO TERMINANDO</b></font></td>
         <%else%>
           <td>CONTRATO EM ANDAMENTO</td>
      <%end%>

        <td align="center"><%=h estagiarios.id %></td>
        <td align="center"><%=h estagiarios.periodo_trab %></td>
        <td align="center"><%=h estagiarios.responsavel %></td>
        <% if estagiarios.data_admissao.nil? then %>
           <td align="center"><%=h estagiarios.data_admissao("%d/%m/%Y") %></td>
        <%else%>
           <td align="center"><%=h estagiarios.data_admissao.strftime("%d/%m/%Y") %></td>
        <%end%>
        <% if estagiarios.desligado == 1 %>
              <% if estagiarios.data_desliga.nil? then %>
                 <td align="center"><%=h estagiarios.data_desliga("%d/%m/%Y") %></td>
              <%else%>
                 <td align="center"><%=h estagiarios.data_desliga.strftime("%d/%m/%Y") %></td>
              <%end%>
         <%else%>
             <td align="center"> EM ATIVIDADE</td>
          <%end%>
         <%if estagiarios.unidade_id.nil?%>
           <td align="center"><%=h estagiarios.regiao.regiao %></td>
         <%else%>
           <td align="center"><%=h estagiarios.unidade.nome %></td>
        <%end%>
    </tr>
    <%end%>
    </tr>
    <tr>
      <td colspan="12">
        <div class="botao">
        <table>
               <td align="center" colspan="1"><%= link_to image_tag("/stylesheets/images/exibir.gif", :size => "25x25"), estagiarios, :title => "Exibir Unidade" %></td>
                <% if current_user.has_role?('administrador') or current_user.has_role?('estagiario SEDUC') %>
                  <td align="center" colspan="1"><%= link_to image_tag("/stylesheets/images/edit.png", :size => "25x25"), edit_estagiario_path(estagiarios), :title => "Alterar Unidade"%></td>
                     <% if current_user.has_role?('administrador')%>
                       <td align="center" colspan="1"><%= link_to image_tag("/stylesheets/images/excluir.PNG", :size => "25x25"), estagiarios, :confirm => 'Confirma Exclusao?', :method => :delete, :title => "Excluir Unidade" %></td>
                     <%end%>
               <%end%>
        </table>
        </div>
       </td>
    </tr>

    <% end %>
    <% end %>
   </table>
</font>