<br/>
<font size="2">
<table  class="tabelas" width="50%"align="center">
 <tr>
    <td colspan="2" align="left">
      <font  size=5 color="black"> <b> REGIÕES ITINERANVIA</b></font>
    </td>
  </tr>
<tr>
 <td>
  <fieldset><legend><font  size=4> Dados Região</font></legend>
    <table width="100%">
      <tr>
        <td align="left" width="6%"><b>Região:</b></td>
        <td align="left"><%=h @regiaos.regiao %></td>
      </tr>
      <tr>
        <td align="left"><b>Locais:</b></td>
        <td align="left"><%=h @regiaos.local %> </td>
      </tr>
      <tr>
        <td align="left"><b>Unidades:</b></td>
        <td align="left"><%=h @regiaos.unidade %></td>
      </tr>
      <tr>
        <td align="left"><b>Estagiário:</b></td>
        <% @regiaos.estagiarios.each do |est| %>
          <%if est.desligado == 0 then%>
             <td align="left"><%=h est.nome %></td>
          <%end%>
         <%end%>
      </tr>
      <tr>
        <td align="left"><b>Observações:</b></td>
        <td align="left"><%=h @regiaos.obs %></td>
      </tr>
     </table>
     </fieldset>
     <div class="botao">
       <table>
          <tr>
            <td align="left" width="4%"><%= link_to image_tag("/stylesheets/images/voltar.png", :size => "40x40"),  homes_path, {:method => "get"}, :title => "Voltar"%></td>
              <% if current_user.has_role?('administrador') or current_user.has_role?('estagiario SEDUC') %>
                <td align="left" width="4%" ><%= link_to image_tag("/stylesheets/images/edit.png", :size => "25x25"), edit_regiao_path(@regiaos), :title => "Alterar Dados"%></td>
             <%end%>
           <td align="left" ><%= link_to image_tag("/stylesheets/images/imprimir.png", :size => "30x30"), onclick="javascript:window.print()", :title => "Imprimir" %></td>
          </tr>

      </table>
    </div>
   </td>
  </tr>
 </table>
</font>
<br/>


