<% form_for(@c_externo) do |f| %>
<%= f.error_messages %>
<font  size="2">
 <table class="tabelas" width="60%" align="center">
  <tr>
   <td colspan="2" align="left">
     <font  size=5><b>ORDEM DE SERVIÇO EXTERNO</b></font>
   </td>
  </tr>
  <tr>
    <td valign="top"width="50% ">
     <fieldset><legend><font  size=4> Solicitação</font></legend>
     <table>
       <tr>
         <td align="left" width="18%"><b>Empresa:</b></td>
         <td align="left"><%= f.collection_select :empresa_id, @empresas, :id, :nome, :include_blank => ' -- Selecione -- ' %></td>
             <%= observe_field 'c_externo_empresa_id',
                :update => "empresa",
                :url    => { :action => 'servicos' },
                :with   => 'c_externo_empresa_id' %>
          <td>
               <div id="empresa"></div>
          </td>
       </tr>
       <tr>
         <td align="left"><b>Unidade:</b></td>
         <td align="left" colspan="2"><%= collection_select :c_externo, :unidade_id, @unidades, :id, :nome, :include_blank => ' --- Selecione opção ---'  %></td>
       </tr>
       <tr>
         <td align="left"><b>Tipo Serviço:</b></td>
         <td align="left" colspan="2"><%= collection_select :c_externo, :tipo_id, @tipo_osexterna, :id, :tipo, :include_blank => ' --- Selecione opção ---'  %></td>
       </tr>
       <tr>
         <td align="left"><b>Nº Protocolo e OS:</b></td>
         <td align="left" colspan="2"><%= f.text_field :protocolo, :size => 15 %></td>
       </tr>
       <tr>
         <td align="left"><b> Com quem falou?:</b></td>
         <td align="left" colspan="2"> <%= f.text_field :atendente, :size => 30%></td>
       </tr>
       <tr>
         <td align="left"><b> Data e Hora Atendimento:</b></td>
         <td align="left" colspan="2"><%= f.date_select(:data_hora, :order => [:day, :month, :year], :start_year => (Date.today.year) ) %></td>
       </tr>
        <tr>
        <td align="left" valign="top"><b>Observações Informações:</b></td>
        <td align="left" colspan="2"><%= f.text_area(:obs, :cols =>"60", :rows => "4") %></td>
       </tr>
     </table>
    </fieldset>
   <table width="100%" align="center">
      <tr>
         <td width="6%"align="left" > <%= link_to image_tag("/stylesheets/images/voltar.png", :size => "40x40"), homes_path, :title => "Voltar" %></td>
        <td align="left"><input type="image" src="/stylesheets/images/salvar.png" title="Gravar"></td>
        <%end%>
      </tr>
    </table>
   </td>
  </tr>
</table>
</font>
