<br/>
 <table  class="tabelas2"   align="center" width="100%">
   <tr>
     <td colspan="2" align="left">
         <font  size=5><b> ORDEM DE SERVIÇO EXTERNO EM ABERTO</b></font>
      </td>
   </tr>
   <tr>
     <td>
      <br/>
         <div class="botao">
         <table width="100%">
          <tr>
             <td width="4%"align="left" ><%= link_to image_tag("/stylesheets/images/voltar.png", :size => "40x40"),  homes_path, {:method => "get"}, :title => "Voltar"%></td>
             <td width="4%"align="left" ><%= link_to image_tag("/stylesheets/images/imprimir.png", :size => "30x30"), onclick="javascript:window.print()", :title => "Imprimir" %></td>
            <td align="right"><b>Chamados Externos em</b>
                <font color ="red "size="2"><b>Aberto: <%=  $numchamados%></b></font>
           </td>
           </tr>
         </table>
         <br/>
         </div>
           <font  size="2">
             <table border="2" width="100%">
               <tr>
                      <th>N° Ordem</th>
                      <th>Empresa</th>
                      <th>Atendente</th>
                      <th>Data hora</th>
                      <th>Unidade</th>
                      <th>Tipo Serviço</th>
                      <th>Obs</th>
                    </tr>
                <%$numchamados = 0%>
                <% @c_externos.each do |c_externo| %>
                <%if (c_externo.situacao == 0) then %>
                  <tr>
                    <td><%=h c_externo.id %></td>
                    <td><%=h c_externo.empresa.nome %></td>
                    <td><%=h c_externo.atendente %></td>
                    <td><%=h c_externo.data_hora.strftime("%d/%m/%Y") %></td>
                    <td><%=h c_externo.unidade.nome %></td>
                    <td><%=h c_externo.tipo_osexterna.tipo %></td>
                    <td><%=h c_externo.obs %></td>
                 </tr>
                     <tr>
                      <td colspan="7">
                      <div class="botao">
                        <table>
                   <% if (c_externo.tipo_id == 1)|| (c_externo.tipo_id == 2)|| (c_externo.tipo_id == 3)%>
                      <td align="center" colspan="1"> <%= link_to image_tag("/stylesheets/images/anexos.png", :size => "25x25"), c_externo_documentos_path(c_externo), :method => "get", :title => "Anexos referentes ao Chamado" %></td>
                   <%else%>

                   <%end%>

                          <% if current_user.has_role?('administrador') or current_user.has_role?('estagiario SEDUC') %>
                             <td align="left" > <%= link_to image_tag("/stylesheets/images/listar.png", :size => "35x35"), {:action => "ordemservico", :id =>c_externo}, :method => "get", :title => "Ordem de Serviço" %></td>
                           <%end%>
                        </table>
                      </div>
                     </td>
                  </tr>
             <%$numchamados = $numchamados +1%>
                <% end %>
              <% end %>
               <tr>
                     <td align="left"colspan="8"><font color="black">Total de OS Externas EM ABERTO => <%=  $numchamados%></font></td>
                   </tr>

                  </table>
                 </font>


         <div class="botao">
         <table width="100%">
          <tr>
             <td width="4%"align="left" ><%= link_to image_tag("/stylesheets/images/voltar.png", :size => "40x40"),  homes_path, {:method => "get"}, :title => "Voltar"%></td>
             <td align="left" ><%= link_to image_tag("/stylesheets/images/imprimir.png", :size => "30x30"), onclick="javascript:window.print()", :title => "Imprimir" %></td>
         </tr>
        </table>
        </div>
      </td>
</table>


